.bar-group {
    background: #eee;
    height: 100px;
    padding: 10px;
}

div.bar {
    width: 30px;
    height: 30px;
    background-color: gold;
    margin-bottom: 5px;
    transition: 1s;
}

div.item1:hover {
    width: 120px;
    height: 30px;
    background-color: red;
    margin-bottom: 5px;
    transition: 1s;
}

div.item2:hover {
    width: 200px;
    height: 30px;
    background-color: red;
    margin-bottom: 5px;
    transition: 1s;
}

div.item3:hover {
    width: 340px;
    height: 30px;
    background-color: red;
    margin-bottom: 5px;
    transition: 1s;
}